.war {
  display: none;
  grid-template-columns: repeat(2, 10rem);
  grid-template-rows: 14rem 4rem 14rem;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem 0;
  background-color: #334756;
}

.war .computer-deck {
  background-color: green;
}

.war .player-deck {
  background-color: blue;
  cursor: pointer;
}

.war .text {
  grid-column: span 2;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
